<section class="main-slider-section">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="img-1 img-cmn">
        <div class="overlay"></div>
        <div class="container">
          <div class="row gx-0">
            <div class="col-md-12">
              <div class="count-number">
                <h4 class="number" data-number="21">21</h4>
                <p>Years of Experienced</p>
              </div>
              <div class="text">
                <h1 class="mb-4">We Create Modern &amp; Minimal Website</h1>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                <p class="mb-0"><a href="#" class="btn btn-primary slider-rec-btn">Start Project</a></p>
              </div>
            </div>
            <a class="img-video popup-vimeo d-flex align-items-center justify-content-center">
              <span class="fa fa-play"></span>
            </a>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="img-2 img-cmn">
        <div class="overlay"></div>
        <div class="container">
          <div class="row gx-0">
            <div class="col-md-12">
              <div class="count-number">
                <h4 class="number" data-number="400">400</h4>
                <p>More than a hundred successful projects</p>
              </div>
              <div class="text">
                <h1 class="mb-4">We Create Modern &amp; Minimal Website</h1>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                <p class="mb-0"><a href="#" class="btn btn-primary slider-rec-btn">Explore
                    Projects</a></p>
              </div>
            </div>
            <a class="img-video popup-vimeo d-flex align-items-center justify-content-center">
              <span class="fa fa-play"></span>
            </a>
          </div>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</section>