<!--header start-->
<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary bg-head-color main-nav">
    <div class="container">
      <a
        class="navbar-brand nav-logo-brand"
        href="index.html"
        style="color: white"
        >a<span>v</span>o</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <!-- <span class="navbar-toggler-icon"></span> -->
        <div
          style="
            background-color: #222;
            color: #fff;
            padding: 5px;
            border-radius: 3px;
          "
        >
          <span>MENU</span>
          <i class="fa-brands fa-buffer"></i>
        </div>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul
          class="navbar-nav d-flex align-items-center"
          style="color: white !important"
        >
          <!-- <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="">Home</a>
                    </li> -->
          <li class="nav-item nav-cmn-item">
            <a class="nav-link home-link" href="">Home</a>
          </li>
          <li class="nav-item nav-cmn-item">
            <a class="nav-link" href="">About</a>
          </li>
          <li class="nav-item nav-cmn-item">
            <a class="nav-link" href="#">Work</a>
          </li>
          <li class="nav-item nav-cmn-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
          <li class="nav-item nav-cmn-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!--header end-->
