<section class="clients-says-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-8 text-center heading-section">
                <h2 class="mb-3">Clients Says About Us?</h2>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-12">
                <owl-carousel-o [options]="footerSlider">
                    <ng-template carouselSlide>
                        <div class="owl-stage-outer">
                            <div class="testimony-wrap py-4">
                                <div class="text">
                                    <span class="fa fa-quote-left my-qute"></span>
                                    <p class="mb-4 user-comment">Far far away, behind the word mountains, far from the
                                        countries
                                        Vokalia
                                        and Consonantia, there live the blind texts.</p>
                                    <div class="d-flex align-items-center">
                                        <div class="user-img user-1"></div>
                                        <div class="ps-3">
                                            <p class="name">Roger Scott</p>
                                            <span class="position">Marketing Manager</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>

                    <ng-template carouselSlide>
                        <div class="owl-stage-outer">
                            <div class="testimony-wrap py-4">
                                <div class="text">
                                    <span class="fa fa-quote-left my-qute"></span>
                                    <p class="mb-4 user-comment">Far far away, behind the word mountains, far from the
                                        countries
                                        Vokalia
                                        and Consonantia, there live the blind texts.</p>
                                    <div class="d-flex align-items-center">
                                        <div class="user-img user-2"></div>
                                        <div class="ps-3">
                                            <p class="name">Roger Scott</p>
                                            <span class="position">Marketing Manager</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="owl-stage-outer">
                            <div class="testimony-wrap py-4">
                                <div class="text">
                                    <span class="fa fa-quote-left my-qute"></span>
                                    <p class="mb-4 user-comment">Far far away, behind the word mountains, far from the
                                        countries
                                        Vokalia
                                        and Consonantia, there live the blind texts.</p>
                                    <div class="d-flex align-items-center">
                                        <div class="user-img user-1"></div>
                                        <div class="ps-3">
                                            <p class="name">Roger Scott</p>
                                            <span class="position">Marketing Manager</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="owl-stage-outer">
                            <div class="testimony-wrap py-4">
                                <div class="text">
                                    <span class="fa fa-quote-left my-qute"></span>
                                    <p class="mb-4 user-comment">Far far away, behind the word mountains, far from the
                                        countries
                                        Vokalia
                                        and Consonantia, there live the blind texts.</p>
                                    <div class="d-flex align-items-center">
                                        <div class="user-img user-2"></div>
                                        <div class="ps-3">
                                            <p class="name">Roger Scott</p>
                                            <span class="position">Marketing Manager</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="owl-stage-outer">
                            <div class="testimony-wrap py-4">
                                <div class="text">
                                    <span class="fa fa-quote-left my-qute"></span>
                                    <p class="mb-4 user-comment">Far far away, behind the word mountains, far from the
                                        countries
                                        Vokalia
                                        and Consonantia, there live the blind texts.</p>
                                    <div class="d-flex align-items-center">
                                        <div class="user-img user-3"></div>
                                        <div class="ps-3">
                                            <p class="name">Roger Scott</p>
                                            <span class="position">Marketing Manager</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>

                </owl-carousel-o>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="intro p-md-4 py-md-5 p-2 rounded banner-img">
                    <div class="col-md-6">
                        <span>Get Started</span>
                        <h2>Fill in the brief and get the project estimate</h2>
                        <p style="color: #a0a0b4;">Far far away, behind the word mountains, far from the countries
                            Vokalia and Consonantia,
                            there live the blind texts.</p>
                        <p><a href="#" class="btn btn-primary btn-get-started">Get started</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>