<section class="our-works-section ftco-portfolio bg-light">
    <div class="row justify-content-center gx-0">
        <div class="col-md-12 heading-section text-center mb-5">
            <h2 class="mb-2">Our Works</h2>
        </div>
    </div>
    <div class="container">
        <div class="row gx-0">
            <div class="col-md-12 portfolio-wrap mt-0">
                <div class="row gx-0 align-items-center">
                    <div class="col-md-5 img-per-cmn img-per-1">
                    </div>
                    <div class="col-md-7 col-web-design">
                        <div class="text pt-5 pl-0 ps-lg-5 ps-md-4">
                            <div class="ps-4 ps-lg-4">
                                <div class="desc">
                                    <div class="top">
                                        <span class="subheading">Web Design</span>
                                        <h2 class="mb-2"><a href="">Cassette tape</a></h2>
                                    </div>
                                    <div class="absolute">
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                            Consonantia, there live the blind texts.</p>
                                        <div class="icon d-flex align-items-center mb-4">
                                            <div class="img-person-cmn sm-person-1"></div>
                                            <div class="position ps-3">
                                                <h4 class="mb-0">Jamie Jonson</h4>
                                                <span>avo.com</span>
                                            </div>
                                        </div>
                                        <p><a href="#" class="custom-btn">View Portfolio</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 portfolio-wrap">
                <div class="row gx-0 align-items-center">
                    <div class="col-md-5 order-md-last img-per-cmn img-per-2">
                    </div>
                    <div class="col-md-7 col-web-design">
                        <div class="text pt-5 pe-md-5">
                            <div class="ps-4 ps-lg-4">
                                <div class="desc text-md-end">
                                    <div class="top">
                                        <span class="subheading">Application</span>
                                        <h2 class="mb-2"><a href="work.html">Miniwall Clock</a></h2>
                                    </div>
                                    <div class="absolute">
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                            Consonantia, there live the blind texts.</p>
                                        <div class="d-flex w-100">
                                            <div class="icon d-flex align-items-center ms-md-auto mb-4">
                                                <div class="img-person-cmn sm-person-2">
                                                </div>
                                                <div class="position ps-3 text-start">
                                                    <h4 class="mb-0">Jamie Jonson</h4>
                                                    <span>avo.com</span>
                                                </div>
                                            </div>
                                        </div>
                                        <p><a href="#" class="custom-btn">View Portfolio</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 portfolio-wrap">
                <div class="row gx-0 align-items-center">
                    <div class="col-md-5 img-per-cmn img-per-3">
                    </div>
                    <div class="col-md-7 col-web-design">
                        <div class="text pt-5 ps-md-5 ps-md-4">
                            <div class="ps-4 ps-lg-4">
                                <div class="desc">
                                    <div class="top">
                                        <span class="subheading">UI/UX Design</span>
                                        <h2 class="mb-2"><a href="work.html">Avo Portfolio Agency</a></h2>
                                    </div>
                                    <div class="absolute">
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                            Consonantia, there live the blind texts.</p>
                                        <div class="icon d-flex align-items-center mb-4">
                                            <div class="img-person-cmn sm-person-3"></div>
                                            <div class="position ps-3">
                                                <h4 class="mb-0">Jamie Jonson</h4>
                                                <span>avo.com</span>
                                            </div>
                                        </div>
                                        <p><a href="#" class="custom-btn">View Portfolio</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 portfolio-wrap">
                <div class="row gx-0 align-items-center">
                    <div class="col-md-5 order-md-last img-per-cmn img-per-4">
                    </div>
                    <div class="col-md-7 col-web-design">
                        <div class="text pt-5 pe-md-5">
                            <div class="ps-4 pe-lg-4">
                                <div class="desc text-md-end">
                                    <div class="top">
                                        <span class="subheading">Web Development</span>
                                        <h2 class="mb-2"><a href="work.html">Hand Writing</a></h2>
                                    </div>
                                    <div class="absolute">
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                            Consonantia, there live the blind texts.</p>
                                        <div class="d-flex w-100">
                                            <div class="icon d-flex align-items-center ms-md-auto mb-4">
                                                <div class="img-person-cmn sm-person-2">
                                                </div>
                                                <div class="position ps-3 text-start">
                                                    <h4 class="mb-0">Jamie Jonson</h4>
                                                    <span>avo.com</span>
                                                </div>
                                            </div>
                                        </div>
                                        <p><a href="#" class="custom-btn">View Portfolio</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 portfolio-wrap">
                <div class="row gx-0 align-items-center">
                    <div class="col-md-5 img-per-cmn img-per-5">
                    </div>
                    <div class="col-md-7 col-web-design">
                        <div class="text pt-5 ps-md-5 ps-md-4">
                            <div class="ps-4 ps-lg-4">
                                <div class="desc">
                                    <div class="top">
                                        <span class="subheading">Illustration</span>
                                        <h2 class="mb-2"><a href="work.html">Keyboard</a></h2>
                                    </div>
                                    <div class="absolute">
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                            Consonantia, there live the blind texts.</p>
                                        <div class="icon d-flex align-items-center mb-4">
                                            <div class="img-person-cmn sm-person-2"></div>
                                            <div class="position ps-3">
                                                <h4 class="mb-0">Jamie Jonson</h4>
                                                <span>avo.com</span>
                                            </div>
                                        </div>
                                        <p><a href="#" class="custom-btn">View Portfolio</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 portfolio-wrap">
                <div class="row gx-0 align-items-center">
                    <div class="col-md-5 order-md-last img-per-cmn img-per-6">
                    </div>
                    <div class="col-md-7 col-web-design">
                        <div class="text pt-5 pe-md-5">
                            <div class="ps-4 ps-lg-4">
                                <div class="desc text-md-end">
                                    <div class="top">
                                        <span class="subheading">Web Development</span>
                                        <h2 class="mb-2"><a href="work.html">Spiral</a></h2>
                                    </div>
                                    <div class="absolute">
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                            Consonantia, there live the blind texts.</p>
                                        <div class="d-flex w-100">
                                            <div class="icon d-flex align-items-center ms-md-auto mb-4">
                                                <div class="img-person-cmn sm-person-2">
                                                </div>
                                                <div class="position ps-3 text-start">
                                                    <h4 class="mb-0">Jamie Jonson</h4>
                                                    <span>avo.com</span>
                                                </div>
                                            </div>
                                        </div>
                                        <p><a href="#" class="custom-btn">View Portfolio</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="our-works-left"></div>
</section>