<section class="recent-blog-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 heading-section text-center">
                <h2>Recent Blog</h2>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-md-3 d-flex">
                <div class="blog-entry justify-content-end">
                    <div class="text">
                        <h3 class="heading mb-3"><a href="#">Amplify your blockchain team</a></h3>
                        <a href="" class="blog-img-1 img-blog-cmn">
                        </a>
                        <div class="meta mb-3">
                            <div><a href="#">June 01, 2020</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="fa fa-comment"></span> 3</a></div>
                        </div>
                        <p style="color: #a0a0b4;">Far far away, behind the word mountains, far from the countries
                            Vokalia and Consonantia.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="blog-entry justify-content-end">
                    <div class="text">
                        <h3 class="heading mb-3"><a href="#">Amplify your blockchain team</a></h3>
                        <a href="" class="blog-img-2 img-blog-cmn">
                        </a>
                        <div class="meta mb-3">
                            <div><a href="#">June 01, 2020</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="fa fa-comment"></span> 3</a></div>
                        </div>
                        <p style="color: #a0a0b4;">Far far away, behind the word mountains, far from the countries
                            Vokalia and Consonantia.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="blog-entry justify-content-end">
                    <div class="text">
                        <h3 class="heading mb-3"><a href="#">Amplify your blockchain team</a></h3>
                        <a href="" class="blog-img-3 img-blog-cmn">
                        </a>
                        <div class="meta mb-3">
                            <div><a href="#">June 01, 2020</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="fa fa-comment"></span> 3</a></div>
                        </div>
                        <p style="color: #a0a0b4;">Far far away, behind the word mountains, far from the countries
                            Vokalia and Consonantia.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="blog-entry justify-content-end">
                    <div class="text">
                        <h3 class="heading mb-3"><a href="#">Amplify your blockchain team</a></h3>
                        <a href="" class="blog-img-4 img-blog-cmn">
                        </a>
                        <div class="meta mb-3">
                            <div><a href="#">June 01, 2020</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="fa fa-comment"></span> 3</a></div>
                        </div>
                        <p style="color: #a0a0b4;">Far far away, behind the word mountains, far from the countries
                            Vokalia and Consonantia.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="degree-left-footer"></div>
</section>