$color-red: red;

/*===start:header colors====*/
$header-color-1: #d1002c;
$header-color-2: white;
/*===end:header colors====*/

/*===start:main-slider colors====*/
$main-slider-color-1: #fff;
$main-slider-color-2: #000000;
$main-slider-color-3: #d1002c;
/*===end:main-slider colors====*/

/*===start:about-us colors====*/
$about-us-color-1: #000000;
$about-us-color-2: #a0a0b4;
$about-us-color-3: #d1002c;
$about-us-color-4: #fff;
$about-us-color-5: #d9d9e1;
/*===end:about-us colors====*/

/*===start:our-works colors====*/
$our-works-color-1: #f3f3f3;
$our-works-color-2: #fff;
$our-works-color-3: #000000;
$our-works-color-4: #a0a0b4;
$our-works-color-5: #d9d9e1;
/*===end:our-works colors====*/

/*===start:clients-says colors====*/
$clients-says-color-1: #f3f3f3;
$clients-says-color-2: #d1002c;
$clients-says-color-3: #a0a0b4;
$clients-says-color-4: #000000;
$clients-says-color-5: #b3b3b3;
$clients-says-color-6: red;
$clients-says-color-7: #fff;
/*===end:clients-says colors====*/

/*===start:recent-blog colors====*/
$recent-blog-color-1: #f3f3f3;
$recent-blog-color-2: #000000;
$recent-blog-color-3: #d1002c;
/*===end:recent-blog colors====*/

/*===start:footer colors====*/
$footer-color-1: black;
$footer-color-2: #fff;
$footer-color-3: rgba(255, 255, 255, 0.7);
$footer-color-4: rgba(255, 255, 255, 0.5);
$footer-color-5: rgba(255, 255, 255, 0.1);
/*===end:footer colors====*/
